<pool type='dir'>
 <name>Public</name>
 <source>
 </source>
 <target>
   <path>{{kvm_vm_pool_dir}}</path>
   <permissions>
     <mode>0755</mode>
     <owner>1000</owner>
     <group>1000</group>
     <label>system_u:object_r:unlabeled_t:s0</label>
   </permissions>
 </target>
</pool>